@import url('../../assets/css/border.css');

.story {
  &Date {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    background: #2591D0;
  }
  &Item {
    display: flex;
    padding: 40px 0;
    margin: 0 40px;
    background-image: svg(1px-border-bottom param(--color #eee));
    &:last-child {
      background-image: none;
    }
    &-title {
      flex: 1;
      font-size: 32px;
      font-weight: 500;
    }
    &-lazy {
      width: 120px;
      height: 120px;
      margin-left: 40px;
      background: #eee;
    }
    &-img {
      width: 120px;
      height: 120px;
    }
  }
}
